body {
    background-color: #000;
    font-family: "Times new Roman", serif;
    font-size: 18px;
}
h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    margin: 0;
}
div {
    font-family: 'Orbitron', sans-serif;
}
.row{
    
}