body{
    background-color: #A2A5A5;
    font-family: Alegraya Sands, san-serif;
    font-size: 20px;
}
.menu{
    background-color: #EFE7FB;
    text-align: center;
    word-spacing: 2em;
}
.row {
    font-size: 1em;
    margin: 2em;
}
@media (max-width: 700px){
    h1{
        font-size: 12px;
    }
    h2{
        margin: 2em;
    }
}
footer{
    font-size: 15px;
    background-color: #EFE7FB;
    word-spacing: 2em;
    text-align: center;
}
.yellow{
    background-color: #D8FAFA;
}
.pink{
    background-color: #EFE7FB;
}
.bio{
    margin: 2em;
    padding: 2em;
}
.black{
    background-color: #2D3883;
}
h1{
    font-family: Alegraya Sands, san-serif;
    text-align: left;
    margin: 1em 0 1em 2em;
    font-size: 2.5em;;
}
h3,
h2{
    text-align: center;
}
h3{
    text-decoration: underline;
}